[Desktop Entry]
Type=Application
Version=1.0
Name=Install iBuntu 2.0 Lix Sur BETA
GenericName=System Installer
Keywords=calamares;system;installer;
TryExec=calamares
Exec=sudo /usr/bin/calamares
Comment=Calamares — System Installer
Icon=/usr/share/icons/bbinstall.png
Terminal=false
StartupNotify=true
Categories=Qt;System;
NotShowIn=LXQt;
X-AppStream-Ignore=true
